/Project-1/1b-QLearning/src/com/natebeckemeyer/school/advai/project1/testing
/Reverse-Pacman/Reverse-Pacman.iml
/Reverse-Pacman/.gitignore
/JGProg-Beta1.2
/.idea
# Created by .ignore support plugin (hsz.mobi)
.DS_Store
*.hi
*.o
Project-1/Project-1a/1a-MDP
out/*
log.out
